<section class="m-banner">
	<div class="container">
		<div class="m-banner__content">
			<h2>Beveiliging op maat</h2>
			<p>Inbraaksafe zorgt ervoor dat inbrekers niet langer snel binnen kunnen zonder lawaai te maken en met klein gereedschap. “Als een inbreker niet in één minuut binnen is geven ze meestal op, probeer zelf maar 3 minuten te staan aan een deur</p>
		</div>
		<div class="m-banner__buttons">
			<a class="a-link a-link--primary">Vraag gratis beveiligingsstudie aan</a>
			<a class="a-link a-link--secundary">Contacteer ons</a>
		</div>
	</div>
</section>
