<section class="o-contact container">
  <div class="row">
    <div class="six columns u-full-height">
      <img src="images/inbraaksafe_wagen.jpg">
    </div>
    <form class="js-form six columns u-padding--vertical">
      <div class="container">
        <h1>Hello world</h1>
        <p class="u-padding--vertical">Sos boodschap in een fles</p>
        <div class="a-input">
          <div class="a-input__field-holder">
            <input type="text" name="input-text" id="js_name" placeholder="Voornaam" data-parsley-required="true">
            <span class="a-input__error">!</span>
          </div>
        </div>
        <div class="a-input">
          <div class="a-input__field-holder">
            <input type="text" name="input-text" id="js_name" placeholder="Achternaam" data-parsley-required="true">
            <span class="a-input__error">!</span>
          </div>
        </div>
        <div class="a-input">
          <div class="a-input__field-holder">
            <input type="email" name="input-text" id="js_mail" placeholder="Email" data-parsley-required="true">
            <span class="a-input__error">!</span>
          </div>
        </div>
        <div class="a-input">
          <div class="a-input__field-holder">
            <input type="tel" name="input-telephone" id="js_gsm" placeholder="+32 ××× ×× ×× ××">
            <span class="a-input__error">!</span>
          </div>
        </div>
        <div class="a-input  u-grid__col-1-1">
          <div class="a-input__field-holder">
              <textarea placeholder="Your message" id="js_message" data-parsley-required="true"></textarea>
              <span class="a-input__error">!</span>
          </div>
        </div>
        <input type="submit" class="a-link a-link--primary" title="Primary button" value="Verstuur">
      </div>
    </form>
  </div>
</section>
