<footer class="o-footer">
  <div class="container">
    <div class="four columns">
      <ul class="o-footer--content_block">
        <li><a href="">Pr. J. Charlottelaan 91, 9100 Sint-Niklaas</a></li>
        <li><a class="orange" href="tel:0800 12 0 12">0800 12 0 12</a></li>
      </ul>
      <ul class="o-footer--content_block">
        <li><a href="">Elizabetlaan 399/73 Heist aan zee</a></li>
        <li><a class="orange" href="tel:0800 12 0 12">0800 12 0 12</a></li>
      </ul>
    </div>
    <div class="offset-by-six two columns">F I T</div>
  </div>
</footer>
  
<!--
  <a href="mailto:info@inbraaksafe.be?SUBJECT=Vraag%20over%20mijn%20inbraakbeveiliging&CC=erwin@inbraaksafe.be">Vraag</a>
-->
