<section class="o-mailform">
	<div class="container">
		<div class="offset-by-three six columns">
			<h2>Ben jij nog mee?</h2>
			<p>Alles gaat tegenwoordig zo snel… kan jij nog volgen? Wij wel ;-)! Laat hier je mailadres na en wij helpen binnen het beveiligingsgebeuren.</p>
		</div>		
		<div class="a-input">
		    <div class="a-input__field-holder offset-by-two eight columns u-vertical-center">
				<input type="mail" name="mail" placeholder="Email adres">
				<input class="a-submit__inline" type="submit" name="submit" value=">">
		    </div>
	   </div>
	</div>
</section>