<div class="o-method u-grey-box u-vertical-center">
	<div class="container">
		<div class="o-method--article offset-by-one ten columns">
			<div class="o-method--article--content twelv columns">
				<h5>ONZE WERKWIJZE</h5>
				<h2>Van aanvraag tot beveiligingsvoorstel</h2>
				<p class="half-w">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
			</div>
		</div>
		<div class="o-method--flow offset-by-one twelv columns fade">
			<div class="o-method--flow--article two columns">
				<div class="row icon" style="background-image: url(images/icons/informatie.svg);"></div>
				<h3 class="row">Informatie</h3>
				<p>Hierin lichten we toe hoe inbrekers vandaag te werk gaan</p>
			</div>
			<div class="o-method--flow--article offset-by-one two columns">
				<div class="row icon" style="background-image: url(images/icons/rondgang.svg);"></div>
				<h3 class="row">Rondgang</h3>
				<p>Hierin lichten we toe hoe inbrekers vandaag te werk gaan</p>
			</div>
			<div class="o-method--flow--article offset-by-one two columns">
				<div class="row icon" style="background-image: url(images/icons/productvoorstelling.svg);"></div>
				<h3 class="row">Productvoorstelling</h3>
				<p>Hierin lichten we toe hoe inbrekers vandaag te werk gaan</p>
			</div>
			<div class="o-method--flow--article offset-by-one two columns">
				<div class="row icon" style="background-image: url(images/icons/beveiligingsvoorstel.svg);"></div>
				<h3 class="row">Beveiligingsvoorstel op maat</h3>
				<p>Hierin lichten we toe hoe inbrekers vandaag te werk gaan</p>
			</div>
		</div>
	</div>
</div>	