<section class="o-page-intro fade_next">
	<div class="container">
		<div class="row">
			<div class="o-page-intro__content twelve columns row">
				<div class="six columns">
					<h5>Inbraakpreventie</h5>
					<h1>Inbraakbeveiliging en inbraakpreventie</h1>
				</div>
				<p class="six columns">
					Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.
				</p>
			</div>
		</div>
	</div>
	<div style="background-image: url('https://images.unsplash.com/photo-1529265895721-65945a176cff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-size: cover; display: block; height: 50vh">
			<div class="lower container">
				<a href="#" class="a-link a-link--primary" title="primary button">Bekijk onze diensten</a>
				<a href="#" class="a-link a-link--secundary" title="secundary button">Neem contact met ons op</a>
			</div>
	</div>
</section>