<div class="row">
	<div class="o-references twelv columns">		
		<div class="oval-one"></div>
		<div class="oval-two"></div>
		<div class="offset-by-one ten columns m-title-block">
			<h5>REFERENTIES</h5>
			<h2>Voor ons telt elke mening</h2>
		</div>
		<div class="offset-by-one five columns article medium-padding fade_fast">
			<h4>“Luc is avery seasoned, emphatic and experienced coach, who has provided great support in helping my organization to become one team and in reaching the next level of self-awareness and collaboration. I can highly recommend his services.”</h4>
			<div class="row name-space">
				<div class="one columns a-ref-image">
					<img src="images/bourgois.jpg">
				</div>
				<div class="four columns">
					<p class="bold">Geert Bourgeois</p>
					<p class="light">Head Stakeholder Management Bayer</p>
				</div>
			</div>
		</div>
		<div class="offset-by-one medium-padding five columns article fade_fast">
			<h4>“Een intense coaching die je opnieuw op een strak spoor brengt, ook al dacht je dat je daar al was. Een contact om nooit te vergeten.”</h4>
			<div class="row name-space">
				<div class="one columns a-ref-image">
					<img src="images/scheef.jpg">
				</div>
				<div class="four columns">
					<p class="bold">Geert Bourgeois</p>
					<p class="light">Head Stakeholder Management Bayer</p>
				</div>
			</div>
		</div>
	</div>
</div>