<div class="o-services">
	<div class="container">
		<div class="m-service u-vertical-center--resp">
			<div style="background-image: url('https://images.unsplash.com/photo-1520697830682-bbb6e85e2b0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-size: cover; background-position: center;" class="m-service--imagecontainer five columns"></div>
			<div class="m-service--article offset-by-two five columns">
				<div class="m-service--article--content ten columns fade_next">
					<h5>DIENSTEN</h5>
					<h2>Inbraakbeveiliging op maat</h2>
					<p>Inbraaksafe staat voor inbraakbeveiliging op maat, professionele plaatsing van mechanische beveiliging voor ramen.</p>
					<a class="a-link--hyperlink">Lees verder</a>
				</div>
			</div>
		</div>

		<!--
		<div class="m-service u-vertical-center">
			<div class="m-service--article offset-by-one six columns">
				<div class="m-service--article--content ten columns fade_next">
					<h5>DIENSTEN</h5>
					<h2>Inbraakbeveiliging op maat</h2>
					<p>Inbraaksafe staat voor inbraakbeveiliging op maat, professionele plaatsing van mechanische beveiliging voor ramen.</p>
					<a class="a-link--hyperlink">Lees verder</a>
				</div>
			</div>
			<div style="background-image: url('https://images.unsplash.com/photo-1520697830682-bbb6e85e2b0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-size: cover; background-position: center;" class="m-service--imagecontainer five columns"></div>
		</div>
-->
	</div>
</div>