<div id="o-team" class="row columns o-team">
	<div class="six columns u-full-height">
		<div class="twelv columns center-box" style="height: 50%;">
			<div class="offset-by-two ten columns fade_next">
				<h1>Meet the <br>coach <span class="color-word">Glenn</span></h1>
			</div>
		</div>
		<div class="twelv columns light center-box large-padding" style="min-height: 50%;">
			<p class="offset-by-two columns">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
			</p>
		</div>
	</div>
	<div class="three columns u-full-height resp">
		<div class="twelv columns" style="height: 25%;"></div>
		<div class="twelv columns" id="scene" style="height: 75%; overflow: hidden;">
			<div class="twelv columns u-full-height image rellax" data-rellax-speed="3" style="background-image: url('images/3.png');"></div>
		</div>
	</div>
	<div class="three columns u-full-height">
		<div class="twelv columns" id="scene" style="height: 55%; overflow: hidden;">
			<div class="twelv columns u-full-height image rellax" data-rellax-speed="1" style="background-image: url('images/2.png');"></div>
		</div>
		<a class="twelv columns button medium-padding-full yellow" style="min-height: 50%;">	
			<h2>Hello world</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
			<p class="hyperlink" href="#">Lees meer</p>
		</a>
	</div>
</div>