<div class="four columns m-news">
	<div class="u-full-width columns image" style="min-height: 15rem; background-image: url('images/1.png');">
		<div class="overlay"></div>
	</div>
	<div class="u-full-width columns" style="min-height: 40rem;">
		<div class="medium-padding-full">	
			<h2>We can make it happen {{i}}</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>
			<a href="#" class="hyperlink">Lees meer</a>
		</div>
	</div>
</div>