<section class="o-services-contentblock">
	<div class="container u-vertical-center--resp">
		<div class="o-services-contentblock__image five columns fade"></div>	
		<div class="o-services-contentblock__content offset-by-one five columns">
			<div class="fade_next">
				<h1>Welkom op inbraaksafe</h1>
				<p>
					Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.
				</p>
			</div>
			<a href="#buttons" style="background-image: url({{htmlParameters.rootPath}}img/icons/arrow-left.svg);" class="a-link a-link--arrow" title="primary button"></a>
			<a href="#buttons" style="background-image: url({{htmlParameters.rootPath}}img/icons/arrow.svg);" class="a-link a-link--arrow" title="primary button"></a>
		</div>
	</div>
</section>