// -------------------------------------------------------------------
// :: HEADER
// -------------------------------------------------------------------
.o-mailform {
	text-align: center;
	padding: 4rem;
	p {
		text-align: center;
	}
	* {
		padding: 1rem 0;
	}
}
