// -------------------------------------------------------------------
// :: MOBILE-MENU
// -------------------------------------------------------------------
.o-mobile-menu{
	-webkit-overflow-scrolling: touch;
	background-color: rgba($black , 1);
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	overflow-y: scroll;
	padding: 15px 20px 10px;
	position: fixed;
	width: 100% ;
	transform: translateX(-110vw);
	top: 0;
	transition: transform 300ms ease-in-out;
	z-index: 990;
}

.o-mobile-menu__navigation {
	margin-top: 15px;

	&__item {
		color: $white;
		display: inline-block;
		font-family: $font-family-tertiary;
		font-size: 29px;
		width: 100%;

		&.is-active {
			color: $primary-color;
		}
	}
}

.o-mobile-menu__footer {
	border-top: 2px solid rgba($grey-dark, 0.2);
	padding-top: 20px;
}

// -------------------------------------------------------------------
// :: MOBILE-MENU MODIFIERES
// -------------------------------------------------------------------

.o-mobile-menu.is-open {
	transform: translateX(0);
}
