// -------------------------------------------------------------------
// :: VERTICAL CENTERING WITH FLEXBOX
// -------------------------------------------------------------------

%__u-vertical-center{
	display: flex;
	align-items: center;
}

.u-vertical-center{
	@extend %__u-vertical-center;
}
.u-align-right {
	display: flex;
	justify-content: flex-end;
}
.u-vertical-center--resp {
	display: block;
	@include FLOW-at($desktop){
		display: flex;
		align-items: center;
	}
}
