// -------------------------------------------------------------------
// :: ALERTS
// -------------------------------------------------------------------

.a-alert {
	color: $font-color-medium;
	border: 1px solid rgba($dark, 0.2);
	padding: 0.907rem;

	p{
		margin: 0;
	}
}

.a-alert [class*='icon']:before {
	font-size: 1.65em;
	line-height: 0;
	position: relative;
	margin-right: 0.3em;
	top: -0.065em;
}

.a-alert a {
	color: inherit;
}


// -------------------------------------------------------------------
// :: ALERT CLASSES
// -------------------------------------------------------------------

.a-alert:not(.is-error):not(.is-warning):not(.is-success):not(.is-information):not(.has-no-background) {
	background: $light;
}

.a-alert.is-error {
	background: $ui-red;
}

.a-alert.is-warning {
	background: $ui-orange;
}

.a-alert.is-success {
	background: $ui-green;
}

.a-alert.is-information {
	background: $ui-blue;
}

