// -------------------------------------------------------------------
// :: HEADINGS
// -------------------------------------------------------------------
.a-heading {
	position: relative;
	z-index: 1;

	.a-heading__container {
		align-items: center;
		justify-content: center;
		display: flex;

		@include FLOW-at($tablet){
			justify-content: flex-start;
		}
	}

	&:before {
		border-top: 3px solid $grey;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: -1;
	}

	.a-heading__title {
		background-color: $white;
		display: inline-block;
		padding: 0 10px;
		position: relative;
	}
}
